// main: ../style.less

@import "../vars";

.apartments__item {
  overflow: hidden;
  border-radius: 10px;
  background-color: @white-smoke;
  box-shadow: 0 0 4px fade(#000, 30%);
  transition: box-shadow .2s linear;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 25px fade(#000, 50%);
    transition: box-shadow .3s linear;
  }
}

.apartments__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.apartments__content {
  padding: 1rem 0.8rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: @dark-grey;
  background-color: @white-smoke;
  text-transform: uppercase;
}

.apartments__item_caption {
  font-size: 1rem;
  color: @dark-grey;
}

.apartments__item_price {
  font-size: 1rem;
  color: @dark-grey;
  font-weight: 700;
}


