// main: ../style.less

@import "../vars";

.apartments__item {
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 4px fade(@dark-grey, 25%);
}

.apartments__img {
  display: block;
  max-width: 100%;
  height: auto;
}


.apartments__item:hover .apartments__item-image {

}

.apartments__item:hover .apartments__item-image .apartments__img {
  opacity: .1;
}


