// main: ../style.less

@import "../vars";

.apartments__items {
  margin: 0 -1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.apartments__item {
  flex-basis: 33.3333%;
  padding: 1rem;
}